{% extends 'landing/loggedin_base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Network</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'socialNetworking/follow_request.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'socialNetworking/notification.css' %}">
</head>

<body>

    <div id="content-container">
    
        <div class="navbar left-content">
            <button>Dashboard</button>
            <button>Find Friends</button>
            <button><a href="{% url 'profile-view' %}">Profile</a></button>
            <button><a href="{% url 'add-post' %}">post</a></button>
        </div>
        <!-- <div id="sidebar-container">
            <div class="sidebar">
                <div id="follow_request" class="static-box">
                    <h2>Follow Requests</h2>
                    <div>
                        <hr>
                        <div>
                            <h3>User 03</h3>
                            <button>Accept</button>
                        </div>
                        <hr>
                        <div>
                            <h3>User 05</h3>
                            <button>Accept</button>
                        </div>
                        <hr>
                        <div>
                            <h3>User 06</h3>
                            <button>Accept</button>
                        </div>
                        <hr>
                        <div>
                            <h3>User 07</h3>
                            <button>Accept</button>
                        </div>
                        <hr>
                    </div>
                </div>
                <div id="notification" class="static-box">
                    <h2>Notifications</h2>
                    <div>
                        <hr>
                        <h4>User 01 liked your post</h4>
                        <hr>
                        <h4>User 07 liked your post</h4>
                        <hr>
                        <h4>User 08 liked your post</h4>
                        <hr>
                        <h4>User 09 liked your post</h4>
                        <hr>
                        <h4>User 10 liked your post</h4>
                        <hr>
                    </div>
                </div>
            </div>
    
        </div> -->
    
        {% for post in post_list %}
        <!-- Post Container -->
        <div class="post-container left-content">
            <img src="{% static 'images/User_cicrle.png' %}" alt="Profile Picture" class="post-profile-pic">
            <div class="post-content">
                
                <h5>{{ post.author_of_posts.user.username }}</h5>
                <p>{{ post.description }}</p>
                {% for comment in post_comments%}
                <p>{{ comment.comment }}</p>
                <!-- Add more comment details as needed -->
                {% endfor %}
            </div>
            <div class="post-buttons">
                <button>Like</button>
                <button class="position-relative"><a class="stretched-link" href="{% url 'post-detail' post.pk %}">Comment</a></button>
                <button>Repost</button>
            </div>
        </div>
        {% endfor %}
    <!-- </div> -->
    {% endblock %}
    </body>
    
    </html>