{% extends 'landing/loggedin_base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Network</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'socialNetworking/follow_request.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'socialNetworking/notification.css' %}">
</head>

<body>
    <div id="content-container">

        <div id="left-content-container" class="left-content">

            <div id="navigation-container" class="left-content">
                <button><a href="">Dashboard</a></button>
                <button><a href="">Find Friends</a></button>
                <button><a href="{% url 'profile' %}">Profile</a></button>
                <button><a href="{% url 'add-post' %}">Post</a></button>
            </div>

            {% for post in post_list %}
            <!-- Post Container -->
            <div class="post-container left-content">
                <img src="{% static 'images/User_cicrle.png' %}" alt="Profile Picture" class="post-profile-pic">
                <div class="post-content">
                    
                    <p><b>Name: </b>{{ post.author_of_posts.user.username }}</p>
                    <p><b>Description: </b>{{ post.description }}</p>
                    <b>Comments:</b>
                    {% for comment in post.comment_set.all %}
                        <p>{{ comment.comment }} - {{ comment.comment_author }} 
                            <form method="POST" action="{% url 'comment-like' post.pk comment.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="btn btn-success btn-sm" type="submit">
                                    <span>Like</span>
                                    <span>{{ comment.likes.all.count }}</span>
                                </button>
                            </form>
                        </p>
                    {% endfor %}
                </div>
                <div class="post-buttons">                  
                    <form method="POST" action="{% url 'like' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit">Likes</button>
                        <span>{{ post.likes.all.count }}</span>
                    </form>
                    <button class="position-relative"><a class="stretched-link" href="{% url 'post-detail' post.pk %}">Comment</a></button>
                    <button>Share</button>
                </div>
            </div>
            {% endfor %}

            

        </div>
    
        <div id="sidebar-container">
            <div class="sidebar">
                <div id="follow_request" class="static-box">
                    <h2>Follow Requests</h2>
                    <div>
                        <hr>
                        <div>
                            <h3>User 03</h3>
                            <button>Accept</button>
                        </div>
                        <hr>
                        <div>
                            <h3>User 05</h3>
                            <button>Accept</button>
                        </div>
                        <hr>
                        <div>
                            <h3>User 06</h3>
                            <button>Accept</button>
                        </div>
                        <hr>
                        <div>
                            <h3>User 07</h3>
                            <button>Accept</button>
                        </div>
                        <hr>
                    </div>
                </div>

                <div id="notification" class="static-box">
                    <h2>Notifications</h2>
                    <div>
                        <hr>
                        <h4>User 01 liked your post</h4>
                        <hr>
                        <h4>User 07 liked your post</h4>
                        <hr>
                        <h4>User 08 liked your post</h4>
                        <hr>
                        <h4>User 09 liked your post</h4>
                        <hr>
                        <h4>User 10 liked your post</h4>
                        <hr>
                    </div>
                </div>
            </div>
    
        </div>
    
       
    <!-- </div> -->
    {% endblock %}
    </body>
    
    </html>

</body>

</html>
