{% extends 'landing/loggedin_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Network</title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'socialNetworking/follow_request.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'socialNetworking/notification.css' %}">
</head>

<body>
    <div id="content-container">

        <div id="left-content-container" class="left-content">

            <div id="navigation-container" class="left-content">
                <button style="background-color: #4d7b42;border-radius: 10px;"><a href="{% url 'post-list' %}">Dashboard</a></button>
                <button><a href="{% url 'find-friends' %}">Find Friends</a></button>
                <button><a href="{% url 'profile' %}">Profile</a></button>
                <button><a href="{% url 'add-post' %}">Post</a></button>
            </div>

            {% for post in post_list %}
            <!-- Post Container -->
            <div class="post-container left-content" style="display: flex; justify-content: space-between;">
                <img src="{% static 'images/User_cicrle.png' %}" alt="Profile Picture" class="post-profile-pic">
                <!-- When user shares a post -->
                
                {% if post.shared_body %}
                    <div>
                        <b>{{ post.shared_user }} </b> reposted at <i>{{ post.shared_on }}</i>
                        <p><i>{{ post.shared_body }}</i></p>
                    </div>
                    <hr>
                    <div>
                        <p><b>Name: </b>{{ post.author_of_posts.user.username }}</p>
                        <p><b>Description: </b>{{ post.description }}</p>
                        <p><b>Date: </b><i>{{ post.published_at }}</i></p>
                    </div>
                {% else %}
                    <div class="post-content">
                        <p><b>Name: </b>{{ post.author_of_posts.user.username }}</p>
                        <p><b>Description: </b>{{ post.description }}</p>
                        <p><b>Date: </b><i>{{ post.published_at }}</i></p>
                    </div>
                {% endif %}
                
                <!-- To print child comments:
                <b>Comments:</b>
                    {% for comment in post.comment_set.all %}
                        <p>{{ comment.comment }} - {{ comment.comment_author }} 
                            <form method="POST" action="{% url 'comment-like' post.pk comment.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="btn btn-success btn-sm" type="submit">
                                    <span>Like</span>
                                    <span>{{ comment.likes.all.count }}</span>
                                </button>
                            </form>
                        </p>
                    {% endfor %}
                 -->
                <div class="post-buttons">                  
                    <form method="POST" action="{% url 'like' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit">
                            <span>Likes</span>
                            <span>{{ post.likes.all.count }}</span>
                        </button>
                    </form>
                    <button class="position-relative"><a class="stretched-link" href="{% url 'post-detail' post.pk %}">Comment: {{ total_comments }}</a></button>
                    <button><a href="{% url 'share-post' post.pk %}">Repost</a></button>
                    <!-- Form for reposting -->
                    
                    
                </div>
            </div>
            {% endfor %}
        </div>
    
        <div id="sidebar-container">
            <div class="sidebar">
                <!-- notification bar -->
                <div id="follow_request" class="static-box">
                    <h2>Follow Requests</h2>
                    <div>
                        {% for follow_request in follow_requests %}
                            <hr>
                            <div>
                                <h3>{{ follow_request.actor.displayName }}</h3>
                                <button class="accept-button" data-user-id="{{ follow_request.actor.id }}">Accept</button>
        
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="notification" class="static-box">
                    <h2>Notifications</h2>
                    <div>
                        <hr>
                        <h4>User 01 liked your post</h4>
                        <hr>
                        <h4>User 07 liked your post</h4>
                        <hr>
                        <h4>User 08 liked your post</h4>
                        <hr>
                        <h4>User 09 liked your post</h4>
                        <hr>
                        <h4>User 10 liked your post</h4>
                        <hr>
                    </div>
                </div>
            </div>
    
        </div>
        <div style="display: flex;margin-right: 10px; margin-top: 20px;">
            <div>
              {% if request.user.is_superuser %}
              <a href="{% url 'admin:index' %}" style="text-decoration: none;">
                <button class="btn btn-success btn-sm">Admin</button>
              </a>
              {% endif %}
            </div>
        </div>
          
    
    <script src="{% static 'JS/social.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".accept-button").on("click", function() {
                var userId = $(this).data("user-id");
                acceptFriendRequest(userId, onFriendRequestAccepted);
            });
        });
    
        function onFriendRequestAccepted() {
            location.reload()
        }
    
        function acceptFriendRequest(id, uiUpdateFunction) {
            var csrfToken = "{{ csrf_token }}";
            $.ajax({
                type: "POST",
                dataType: "json",
                data: {
                    "csrfmiddlewaretoken": csrfToken,
                    "receiver_user_id": id,
                },
                url: "{% url 'accept-friend-request' %}",  // Update the URL to match your view
                timeout: 5000,
                success: function(data) {
                    if (data['result'] === "Successful") {
                        // Handle success
                        uiUpdateFunction();  // Call the UI update function
                    }
                },
                error: function(data) {
                    // Handle error
                },
                complete: function(data){
                    uiUpdateFunction();
                }

            });
        }
    </script>
    


 {% endblock %}


</body>

</html>
