{% extends 'landing/loggedin_base.html' %}
{% load static %}
{% block content %}



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Network</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'socialNetworking/follow_request.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'socialNetworking/notification.css' %}">
</head>



<div id="content-container">

    <div id="left-content-container" class="left-content">

        <div id="navigation-container" class="left-content">
            <button><a href="{% url 'post-list' %}">Dashboard</a></button>
            <button style="background-color: #4d7b42;border-radius: 10px;"><a href="{% url 'find-friends' %}">Find Friends</a></button>
            <!-- <button><a href="{% url 'profile' %}">Profile</a></button> -->
            <button><a href="{% url 'add-post' %}">Post</a></button>
        </div>
    
        <!-- Search Bar Form -->
        <div id="search-container" class="left-content">
            <form method="GET">
                <input type="text" name="query" placeholder="Search..." class="search-input">
                <button type="submit" class="search-button">Search</button>
            </form>
        </div>

        <div id="userList-container" class="left-content">

            <!-- user list -->
            {% for user in user_list %}
                {% if user.displayName != request.user.username %}

                    <div class="user-container" id="user-container-{{ user.id }}" class="left-content">
                        <span><a href="{% url 'user-profile' pk=user.pk %}" class="profile-link">{{ user.displayName }}</a></span>
                        {% if user.id in following_set %}
                            <button type="button" class="unfollow-button" data-user-id="{{ user.id }}">Unfollow</button>

                        
                        {% elif user.id in sent_requests_set %}
                     
                            <button type="button" class="cancel-request-button" data-user-id="{{ user.id }}">Cancel Request</button>
                        {% else %}
                           
                            <button type="button" class="send-request-button" data-user-id="{{ user.id }}">Send Request</button>
                        {% endif %}
                    </div>
                
                {% endif %}
            {% endfor %}

        </div>

    </div>

    <div id="sidebar-container">
        <div class="sidebar">
            <!-- notification bar -->
            <div id="follow_request" class="static-box">
                <h2>Follow Requests</h2>
                <div>
                    {% for follow_request in follow_requests %}
                        <hr>
                        <div>
                            <h3>{{ follow_request.actor.displayName }}</h3>
                            <button class="accept-button" data-user-id="{{ follow_request.actor.id }}">Accept</button>
    
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- <div id="notification" class="static-box">
                <h2>Notifications</h2>
                <div>
                    <hr>
                    <h4>User 01 liked your post</h4>
                    <hr>
                    <h4>User 07 liked your post</h4>
                    <hr>
                    <h4>User 08 liked your post</h4>
                    <hr>
                    <h4>User 09 liked your post</h4>
                    <hr>
                    <h4>User 10 liked your post</h4>
                    <hr>
                </div>
            </div> -->
        </div>

</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    function onFriendRequestSent(){
        location.reload();
    }

    $(document).ready(function() {
        $(".send-request-button").on("click", function() {
            var userId = $(this).data("user-id");
            sendFriendRequest(userId, onFriendRequestSent);
        });

        $(".cancel-request-button").on("click", function() {
            var userId = $(this).data("user-id");
            cancelFriendRequest(userId, onFriendRequestSent);
        });

        $(".unfollow-button").on("click", function() {
            var userId = $(this).data("user-id");
            unfollow(userId, onFriendRequestSent);
        })
    });

    function sendFriendRequest(id, uiUpdateFunction){
        var csrfToken = "{{ csrf_token }}";
        $.ajax({
            type: "POST",
            dataType: "json",
            data: {
                "csrfmiddlewaretoken": csrfToken,
                "receiver_user_id": id,
            },
            url: "{% url 'send-friend-request' %}",
            timeout: 5000,
            success: function(data){
                if (data['result'] == "Successful"){
                    // Handle success
                }
            },
            error: function(data){
                // Handle error
            },
            complete: function(data){
                uiUpdateFunction();
            }
        });
    }

    function cancelFriendRequest(id, uiUpdateFunction) {
        var csrfToken = "{{ csrf_token }}";
        $.ajax({
            type: "POST",
            dataType: "json",
            data: {
                "csrfmiddlewaretoken": csrfToken,
                "user_id": id,
            },
            url: "{% url 'cancel-follow-request' %}",
            timeout: 5000,
            success: function(data){
                if (data['result'] == "Successful"){
                    // Handle success
                }
            },
            error: function(data){
                // Handle error
            },
            complete: function(data){
                uiUpdateFunction();
            }
        });
    }

    function unfollow(id, uiUpdateFunction) {
        var csrfToken = "{{ csrf_token }}";
        $.ajax({
            type: "POST",
            dataType: "json",
            data: {
                "csrfmiddlewaretoken": csrfToken,
                "user_id": id,
            },
            url: "{% url 'unfollow-user' %}",
            timeout: 5000,
            success: function(data){
                if (data['result'] == "Successful"){
                    // Handle success
                }
            },
            error: function(data){
                // Handle error
            },
            complete: function(data){
                uiUpdateFunction();
            }
        });
    }
</script>



{% endblock %}
