{% extends 'landing/loggedin_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% load custom_filter %}

<link rel="stylesheet" href="{% static 'socialNetworking/post_detail.css' %}">
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-light">Back to Feed</a>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="border p-3 shadow rounded col-md-5 col-sm-12 border-bottom">
			<!-- access control needed -->
			<!-- {% if request.user == post.author_of_posts %}
                <a href="{% url 'post-edit' post.pk %}" style="color: #333;"><i class="far fa-edit"></i></a>
                <a href="{% url 'post-delete' post.pk %}" style="color: #333;"><i class="fas fa-trash"></i></a>
            {% endif %} -->
			{% if post.shared_user %}
				<p><strong>{{ post.shared_user }}</strong>  {{ post.shared_on }}</p>
				<div class="border p-3 shadow rounded">
					<p>{{ post.title }}</p>
				</div>
				{% if post.content %}
					{% if post.contentType == 'image/jpeg;base64' %}
						<img src="{{ post.url|add:'/image' }}" alt="{{ post.title }}" class="img-fluid" style="max-width: 100px; height:100px">
					{% elif post.contentType == 'image/png;base64' %}
						<img src="{{ post.url|add:'/image' }}" alt="{{ post.title }}" class="img-fluid" style="max-width: 100px; height:100px">
					{% elif post.contentType == 'text/plain' %}
						<pre>{{ post.content|decode_utf8}}</pre>
					{% elif post.contentType == 'text/markdown'%}
						<pre>{{ post.content|decode_markdown_to_html|safe }}</pre>
					{% endif %}
                {% endif %}
			{% else %}
				<p><strong>{{ post.author_of_posts }}</strong> <i>{{ post.published_at }}</i></p>
				<p>ss</p>
				{% if post.content %}
					{% if post.contentType == 'image/jpeg;base64' %}
						<img src="{{ post.url|add:'/image' }}" alt="{{ post.title }}" class="img-fluid" style="max-width: 100px; height:100px">
					{% elif post.contentType == 'image/png;base64' %}
						<img src="{{ post.url|add:'/image' }}" alt="{{ post.title }}" class="img-fluid" style="max-width: 100px; height:100px">
					{% elif post.contentType == 'text/plain' %}
						<pre>{{ post.content|decode_utf8}}</pre>
					{% elif post.contentType == 'text/markdown'%}
						<pre>{{ post.content|decode_markdown_to_html|safe }}</pre>
					{% endif %}
                {% endif %}
			{% endif %}
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            <h5>Add a Comment!</h5>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Submit!</button>
                </div>
            </form>
        </div>
    </div>
	{% for comment in comments %}
		{% if comment.is_parent %}
		<div class="row justify-content-center mt-3 mb-5 border-bottom">
			<div class="col-md-5 col-sm-12">
				<p>
					<strong>{{ comment.comment_author }}</strong> {{ comment.published_at }}
					<!-- <a href="{% url 'comment-delete' post.pk comment.pk %}">Delete</a> -->
					<!-- Need user access restriction -->
					
					
					
					<!-- <a href="{% url 'comment-delete' post.pk comment.pk %}">Delete</a> -->
					<!-- <a href="{% url 'comment-delete' post.pk comment.pk %}" style="color: #333;"><i class="fas fa-trash"></i></a> -->
				</p>
				<p>{{ comment.comment }}</p> 
				<!-- Liking comments -->
				<form method="POST" action="{% url 'comment-like' post.pk comment.pk %}">
					{% csrf_token %}
					<input type="hidden" name="next" value="{{ request.path }}">
					<button class="btn btn-light btn-sm" type="submit">
						<i class="fas fa-heart"></i>
						<span>{{ comment.num_likes }}</span>
					</button>					
					{% if request.user == comment.comment_author.user %}
					<button type="button" onclick="location.href='{% url 'comment-delete' post.pk comment.pk %}'" class="btn btn-light btn-sm" style="color: #000000;">
						<i class="fas fa-trash"></i>
					</button>
					{% endif %}
					
					
				</form>
			</div>
			<!-- Form for subcomment -->
			<!-- <div class="row justify-content-center mt-3 mb-5 d-none" id="{{ comment.pk }}">
				<div class="col-md-5 col-sm-12">
					<form method="POST" action="{% url 'comment-reply' post.pk comment.pk %}">
						{% csrf_token %}
						{{ form | crispy }}
						<div class="d-grid gap-2">
							<button class="btn btn-success mt-3">Submit!</button>
						</div>
					</form>
				</div>
			</div> -->
		</div>
		<!-- To show child comments -->
			{% for child_comment in comment.children %}
			<div class="row justify-content-center mt-3 mb-5 child-comment">
				<div class="col-md-5 col-sm-12 border-bottom">
					<p>
						{% if request.user == child_comment.comment_author.user %}
							<a href="{% url 'comment-delete' post.pk child_comment.pk %}" class="edit-color">Delete reply</a>
						{% endif %}
					</p>
					<p>{{ child_comment.comment }} - {{ child_comment.comment_author }} </p>
				</div>
			</div>
			{% endfor %}
		{% endif %}
    {% endfor %}
</div>
<script src="{% static 'JS/social.js' %}"></script>

{% endblock content %}