{% extends 'landing/loggedin_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Network</title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'socialNetworking/follow_request.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'socialNetworking/notification.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/marked@12.0.1/lib/marked.umd.min.js"></script>
    <style>
        #markdown-preview {
            background-color: #f8f9fa; /* Light grey background */
            border: 1px solid #ced4da; /* Styled like Bootstrap's forms */
            padding: 10px;
            border-radius: .25rem; /* Rounded corners */
            min-height: 200px; /* Minimum height */
        }
    </style>
</head>

<div id="content-container">
    <div id="left-content-container" class="left-content">
        <div id="navigation-container" class="left-content">
            <button ><a href="{% url 'post-list' %}">Dashboard</a></button>
            <button><a href="{% url 'find-friends' %}">Find Friends</a></button>
            <!-- <button><a href="{% url 'profile' %}">Profile</a></button> -->
            <button style="background-color: #4d7b42;border-radius: 10px;"><a href="{% url 'add-post' %}">Post</a></button>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom">
                <h5>Add a Post!</h5>
            </div>
        </div>

        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-md-5 col-sm-12 border-bottom">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div id="markdown-preview-title">Markdown Preview</div>
                    <div id="markdown-preview" style="background: #f8f9fa; border: 1px solid #ced4da; padding: 10px; border-radius: .25rem; margin-top: 10px;"></div>
                    <div id="content-input-wrapper"></div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success mt-3">Submit!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="sidebar-container">
        <div class="sidebar">
            <!-- notification bar -->
            <div id="follow_request" class="static-box">
                <h2>Follow Requests</h2>
                <div>
                    {% for follow_request in follow_requests %}
                        <hr>
                        <div>
                            <h3>{{ follow_request.actor.displayName }}</h3>
                            <button class="accept-button" data-user-id="{{ follow_request.actor.id }}">Accept</button>
    
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- <div id="notification" class="static-box">
                <h2>Notifications</h2>
                <div>
                    <hr>
                    <h4>User 01 liked your post</h4>
                    <hr>
                    <h4>User 07 liked your post</h4>
                    <hr>
                    <h4>User 08 liked your post</h4>
                    <hr>
                    <h4>User 09 liked your post</h4>
                    <hr>
                    <h4>User 10 liked your post</h4>
                    <hr>
                </div>
            </div> -->
        </div>

    </div>
</div>

<script src="{% static 'JS/social.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".accept-button").on("click", function() {
                var userId = $(this).data("user-id");
                acceptFriendRequest(userId, onFriendRequestAccepted);
            });
        });
    
        function onFriendRequestAccepted() {
            location.reload()
        }
    
        function acceptFriendRequest(id, uiUpdateFunction) {
            var csrfToken = "{{ csrf_token }}";
            $.ajax({
                type: "POST",
                dataType: "json",
                data: {
                    "csrfmiddlewaretoken": csrfToken,
                    "receiver_user_id": id,
                },
                url: "{% url 'accept-friend-request' %}",  // Update the URL to match your view
                timeout: 5000,
                success: function(data) {
                    if (data['result'] === "Successful") {
                        // Handle success
                        uiUpdateFunction();  // Call the UI update function
                    }
                },
                error: function(data) {
                    // Handle error
                },
                complete: function(data){
                    uiUpdateFunction();
                }

            });
        }
    </script>
    <script>
        document.getElementById('id_text_content').addEventListener('input', function() {
            var markdownText = this.value;
            document.getElementById('markdown-preview').innerHTML = marked.parse(markdownText);
        });
        </script>
    

    <script type="text/javascript">
        $(document).ready(function() {
            $(".accept-button").on("click", function() {
                var userId = $(this).data("user-id");
                var container = $(this).parent(); // Get the parent div containing the button
                acceptFriendRequest(userId, container);
            });
        });

        function acceptFriendRequest(id, container) {
            var csrfToken = "{{ csrf_token }}";
            $.ajax({
                type: "POST",
                dataType: "json",
                data: {
                    "csrfmiddlewaretoken": csrfToken,
                    "receiver_user_id": id,
                },
                url: "{% url 'accept-friend-request' %}",  // Update the URL to match your view
                timeout: 5000,
                // success: function(data) {
                //     container.prev('hr').remove();
                //     container.remove();
                //     if (data['result'] === "Successful") {
                //         // Remove the parent <div> element and its preceding <hr> element
                //         container.prev('hr').remove();
                //         container.remove();
                //     }
                // },
                error: function(data) {
                    // Handle error
                },
                complete: function(data) {
                    container.prev('hr').remove();
                    container.remove();
                }
            });
        }

    </script>
    <script src="{% static 'JS/post_list.js' %}" defer></script>
{% endblock content %} 