{% extends 'landing/loggedin_base.html' %} 
{% load crispy_forms_tags %} 
{% load static %} 
{% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'socialNetworking/profile_view.css' %}"
/>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-3 col-sm-6">
      <a href="{% url 'post-list' %}" class="btn btn-light">Back to Feed</a>
    </div>
  </div>

  <div id="profile-container">
    <div>
      <div>
        {% if not author.profileImagePicture %}
        <img src="{% static 'images/User_cicrle.png' %}" />
        {% else %}
        <img src="{{ author.profileImagePicture.url }}" />
        {% endif %}
      </div>
      <span>Username: {{ author.displayName }}</span>

      {% if not author.user == request.user %}
      {% if author.id in following_set %}
        <button type="button" class="unfollow-button" data-user-id="{{ author.id }}">Unfollow</button>


      {% elif author.id in sent_requests_set %}

        <button type="button" class="cancel-request-button" data-user-id="{{ author.id }}">Cancel Request</button>
      {% else %}
    
        <button type="button" class="send-request-button" data-user-id="{{ author.id }}">Send Request</button>
      {% endif %}
    {% endif %}
    </div>

    <span>Github: {{ author.github }}</span>

    
  </div>
  
  {% if author.user == request.user %}
    <div id="draft-container">
      <form id="draft-post" method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ draft.as_p }}
        <input id="profile-update" type="submit" name="Update" value="Update" />
        <input type="submit" name="Save as Draft" value="Save as Draft" />
      </form>
    </div>
  {% endif %}

	<div id="post-container" class="container">
		<div class="row mt-3">
		<div class="col-sm-12 border-bottom">
			{% if author.user == request.user %}
			  <h2>Posts you created(check unlisted posts below):</h2>
      {% else %}
        <h2>Posts </h2>
      {% endif %}

		</div>
		</div>

		{% for post in post_list %} {% if not post.shared_user %}
		<div class="row mt-3">
		<div class="col-sm-12 border-bottom position-relative">
			{% if author.user == request.user %}
			<a href="{% url 'post-edit' post.pk %}">Edit</a>
			<a href="{% url 'post-delete' post.pk %}">Delete</a>
			{% endif %}
			<p><b>Created on:</b> {{ post.published_at }}</p>
			<p>
			<b>Title:</b> {{ post.title }}
			</p>
			<!-- <a class="stretched-link" href="{% url 'post-edit' post.pk %}"></a> -->
		</div>
		</div>
		{% endif %}
		{% endfor %}
	{% if shared_posts %}
    <div class="row mt-3">
      <div class="col-sm-12 border-bottom">
        <h2>Posts you shared:</h2>
      </div>
    </div>
    {% for post in shared_posts %}
    <div class="row mt-3">
      <div class="col-sm-12 border-bottom position-relative">
        <a href="{% url 'shared-post-edit' post.pk %}">Edit</a>
        <a href="{% url 'shared-post-delete' post.pk %}">Delete</a>
        <p><b>Shared on:</b> {{ post.shared_on }}</p>
        <p><b>Title:</b> {{ post.shared_body }}</p>
        <!-- <a class="stretched-link" href="{% url 'post-edit' post.pk %}"></a> -->
      </div>
    </div>
    {% endfor %} {% endif %} {% if unlisted_posts %}
    <div class="row mt-3">
      <div class="col-sm-12 border-bottom">
        <h2>Your unlisted posts:</h2>
      </div>
    </div>
    {% endif %} 
	{% for post in unlisted_posts %}
    <div class="row mt-3">
      <div class="col-sm-12 border-bottom position-relative">
        <a href="{% url 'unlisted-post-edit' post.pk %}">Edit</a>
        <a href="{% url 'post-delete' post.pk %}">Delete</a>
        <p><b>Created on:</b> {{ post.published_at }}</p>
        <p><b>Title:</b> {{ post.title }}</p>
        <!-- <a class="stretched-link" href="{% url 'post-edit' post.pk %}"></a> -->
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    function onFriendRequestSent(){
        location.reload();
    }

    $(document).ready(function() {
        $(".send-request-button").on("click", function() {
            var userId = $(this).data("user-id");
            sendFriendRequest(userId, onFriendRequestSent);
        });

        $(".cancel-request-button").on("click", function() {
            var userId = $(this).data("user-id");
            cancelFriendRequest(userId, onFriendRequestSent);
        });

        $(".unfollow-button").on("click", function() {
            var userId = $(this).data("user-id");
            unfollow(userId, onFriendRequestSent);
        })
    });

    function sendFriendRequest(id, uiUpdateFunction){
        var csrfToken = "{{ csrf_token }}";
        $.ajax({
            type: "POST",
            dataType: "json",
            data: {
                "csrfmiddlewaretoken": csrfToken,
                "receiver_user_id": id,
            },
            url: "{% url 'send-friend-request' %}",
            timeout: 5000,
            success: function(data){
                if (data['result'] == "Successful"){
                    // Handle success
                }
            },
            error: function(data){
                // Handle error
            },
            complete: function(data){
                uiUpdateFunction();
            }
        });
    }

    function cancelFriendRequest(id, uiUpdateFunction) {
        var csrfToken = "{{ csrf_token }}";
        $.ajax({
            type: "POST",
            dataType: "json",
            data: {
                "csrfmiddlewaretoken": csrfToken,
                "user_id": id,
            },
            url: "{% url 'cancel-follow-request' %}",
            timeout: 5000,
            success: function(data){
                if (data['result'] == "Successful"){
                    // Handle success
                }
            },
            error: function(data){
                // Handle error
            },
            complete: function(data){
                uiUpdateFunction();
            }
        });
    }

    function unfollow(id, uiUpdateFunction) {
        var csrfToken = "{{ csrf_token }}";
        $.ajax({
            type: "POST",
            dataType: "json",
            data: {
                "csrfmiddlewaretoken": csrfToken,
                "user_id": id,
            },
            url: "{% url 'unfollow-user' %}",
            timeout: 5000,
            success: function(data){
                if (data['result'] == "Successful"){
                    // Handle success
                }
            },
            error: function(data){
                // Handle error
            },
            complete: function(data){
                uiUpdateFunction();
            }
        });
    }
</script>


{% endblock content %}

<!-- <div class="row justify-content-center mt-3 mb-5">
			<div class="col-md-5 col-sm-12 border-bottom">
				<form method="POST">
					{% csrf_token %}
					{{ form | crispy }}
					<div class="d-grid gap-2">
						<button class="btn btn-success mt-3">Submit!</button>
					</div>
				</form>
			</div>
		</div> -->
