body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 10px;
    background-color: #EDEDC0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.social-network {
    color: #31492A;
    text-align: center;
}

.right-section {
    display: flex;
    align-items: center;
}

.username {
    color: #31492A;
    margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #31492A;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.profile-pic img {
    width: 80px;
    height: 80px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 10px;
    background-color: #EDEDC0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
} */

.social-network {
    color: #31492A;
    text-align: center;
}

.right-section {
    display: flex;
    align-items: center;
}

.username {
    color: #31492A;
    margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #31492A;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.profile-pic img {
    width: 80px;
    height: 80px;
}

#navigation-container {
    display: flex;
    background-color: #31492A;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
    justify-content: center;
}

#left-content-container {
    width: 60%;
    align-content: center;
}

.left-content {
    margin-inline-start: 5%;
    margin-inline-end: 5%;
}

#user-container {
    margin-top: 16px;
    margin-bottom: 16px;
    align-self: start;
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #F7F7C1;
}

.search-input {
    border-radius: 10px; 
    padding: 8px; 
    width: 200px; 
    background-color: #c4eabc; 
    border: 1px solid #4d7b42; 
    outline: none;
}

#search-container {
    display: flex; 
    justify-content: center; 
    margin-top: 16px;
    margin-bottom: 16px;
}


/* Style for the search button */
.search-button {
    border-radius: 10px; 
    padding: 8px 15px; 
    background-color: #31492A; 
    color: white; 
    border: none; 
    cursor: pointer; 
    outline: none; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Hover effect for the search button */
.search-button:hover {
    background-color: #416837; 
}

#navigation-container>button {
    width: 25%;
    padding: 16px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 0;
    /* Remove button border radius */
    transition: background-color 0.3s ease;
}

#navigation-container>button>a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

#navigation-container>button:hover {
    background-color: #416837;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

#sidebar-container {
    width: 30%;
    display: flex;
    justify-content: center;
}

#content-container {
    width: 100%;
    display: inline-flex;
}

.sidebar {
    width: fit-content;
    min-width: 400px;
    padding: 20px;
    overflow-y: auto;
    background: transparent;
    align-self: end;
}

.static-box {
    background-color: #B1C695;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 24px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.static-box h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #31492A;
}

.line {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 10px;
}

/* Additional Styles for the Post Container */
.post-container {
    margin-top: 16px;
    margin-bottom: 16px;
    align-self: start;
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #F7F7C1;
}

.post-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-content {
    flex: 1;
}

.post-buttons {
    display: flex;
    align-items: center;
}

.post-buttons button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #31492A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
