{% extends 'landing/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	{% block content %}
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-md-10 col-sm-12 text-center">
				<h1 class="display-2 mb-3">Meet new people and connect with your friends!</h1>
				<p>Join conversation with your friends and stay upto date with the latest news!</p>
				<div class="d-flex justify-content-center mt-5">
					<a href="{% url 'account_login' %}" class="btn btn-light mr-3">
						Login
					</a>
					<a href="{% url 'account_signup' %}" class="btn btn-primary">
						Register
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endblock content %}
</body>
</html>